body{
    font-family: 'Archivo', sans-serif;
}
.topsticky{
    position:sticky;
    top: 0;
    z-index: 1000000000;
    width:100%;
    background-color: #EBD923;
    line-height:70px;
}
.topsticky>ul {
    list-style: none;
    padding: 0;
}
.dropDownContent {
    display: none;
}
.topsticky>ul:hover>li{
    display: block;
}
#bartop{
    margin-top:10px;
    margin-left:20px;
    padding:10px 20px;
    font-size:30px;
    color:#F5ECA6;
    border:1px solid #EDDD5E;
}

#barbottom{
    margin-bottom:15px;
    margin-left:20px;
    font-size:30px;
    padding:10px 20px;
    color:#7F7F7F;
    border:0.02px solid #E5E5E5;
}
hr{
    color:#DFDFDF;
    background-color:#DFDFDF;
    width:98%;
}
h1{
    display:inline-block;
    font-size:19px;
    font-weight: 400;
}
.text{
    margin-left:2rem;
    width:75%;
}
#icoon{
    margin-left:2rem;
    color:#545454;
    font-size:21px;
}
#icoon1{
    margin-left:2rem;
    color:#545454;
    font-size:21px;
}
#icoon2{
    margin-left:2rem;
    color:#2B2F32;
    font-size:21px;
}
.video{
    width:95%;
    height:15rem;
    margin-left:1rem;
}
p{
    font-weight:500;
    font-size:16px;
    color:#212528;
}
#logo{
    position: relative;
    margin-left:30px;
    top:14px;
    width:150px;
    height:3.1rem;
}
#header{
    width:100%;
    height:12rem;
    margin-bottom:1.5rem;
}
@media(min-width: 678px){

}