body{
    font-family: 'Archivo', sans-serif;
}
.topsticky{
    position:sticky;
    width:100%;
    background-color: #EBD923;
    line-height:70px;
}
#bartop{
    margin-top:10px;
    margin-left:20px;
    padding:10px 20px;
    font-size:30px;
    color:#F5ECA6;
    border:1px solid #EDDD5E;
}
#barbottom{
    margin-top:15px;
    margin-left:20px;
    font-size:30px;
    padding:10px 20px;
    color:#7F7F7F;
    border:0.02px solid #E5E5E5;
}
#header{
    margin-top:15px;
    width:150px;
    height:3rem;
}
@media(min-width: 678px){

}